/*input,
select,
.slider {
  line-height: 1.5em;
  width: 70%;
  margin-right: 1em;
}


label {
  width: 40%;
  margin-bottom: 0.25rem;
  text-align: left;
  font-family: "Fidelity-Sans", Arial, sans-serif;
  font-weight: bold;
}



#outerContainer {
  margin: 0rem auto;
  padding: 2rem 3rem;
  border: solid 1px #ccc;
  max-width: 25%;
  font-family: "Fidelity Sans", Arial, sans-serif;
}



.formGroup {
  margin-bottom: 1.5rem;
}
.formGroup:last-child {
  margin-bottom: 0rem;
}



.text-box {

  display: block;
  font-size: 18px;
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 0.25rem 1rem 0.25rem 1rem;
}



button {
  width: 100%;
  border: 1px solid black;
  font-family: "Fidelity Sans", Ariel, sans-serif;
  font-size: 32px;
  line-height: 1.5em;
  text-align: center;
  background-color: #568200;
  color: white;
  border: 0;
}



button:disabled {
  background-color: rgb(114, 117, 114);
}



.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #568200;
  cursor: pointer;
}
  */
  div{
    text-align: center;
  }