<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallchange.integration.mapper.ClientAuthenticationMapper">

	<select id="getLoginAuthenticationDetails" resultMap="LoginAuthenticationDetails">
		select client_id  from client where client_mail=#{clientMail} and password=#{password}
	</select>

	<resultMap type="ClientSendBackDetails" id="LoginAuthenticationDetails">
		<result property="clientId"	 column="client_id" />
	</resultMap>
	
	<insert id="putRegistrationAuthenticationDetails">
        insert into client(CLIENT_ID ,CLIENT_NAME ,CLIENT_MAIL ,CLIENT_SMALLCHANGE_WALLET ,PASSWORD ) 
        values(#{clientId},#{clientName},#{clientMail},#{clientWallet},#{password})
    </insert>

	
</mapper>
