<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallchange.integration.mapper.TradeHistoryMapper">
	<select id="getTradeHistory" resultMap="TradeHistoryMap">
		select i.name,o.code,o.quantity,o.direction,o.Buy_price,i.category from orders o join instrument i on o.code=i.code where client_id=#{id}
	</select>

	<resultMap type="TradeHistory" id="TradeHistoryMap">
		<result property="name"			column="NAME" />
		<result property="code"				column="CODE" />
		<result property="quantity"		column="QUANTITY" />
		<result property="type" column="DIRECTION" />
		<result property="price" column="BUY_PRICE" />
		<result property="assetClass" column="CATEGORY" />
	</resultMap>

	
</mapper>
