.mb-3{
    align-self: center;
    width: 60% ;
    margin-left:6rem ;
    margin-right: 5rem;
    
}


.button1 {
    transition-duration: 0.4s;
    margin-left: 6rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    width: 60%;
    color: white;
    background-color: #4CAF50; 
    border-radius: 5px;
    height: 2.5rem;
    margin-top: 1.5rem;
  }
  
  .button1:hover {
    background-color: darkgreen;
    color:white;
  }

.modal-body{
    margin-left:auto;
    margin-right: auto;
    align-self: center;
    max-width: 60%;
    border: 0.4px solid gray;
    border-radius: 7px;
}
