

  ul {
    margin: 0 -1rem;
    list-style: none;
    padding: 0;
    
  }
  li {
    display: inline-block;
  }
  
  .topNavresponsive .icon {
    display: none;
    padding : 0.25em 1em;
    border-style: none;
    font-family: 'Fidelity Sans';
    font-size: 16px;
    background: none;
  }

  @media screen and (max-width: 720px) {
    
    .inactive{
      display:none;
    }
  

    .topNavresponsive .icon {
      display: flex;
    }
  
    .topNavresponsive li {
      width: 100%;
      height: 2em;
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0.5em 0;
    }
  }
  