<!-- <p class = "logo">SmallChange<sup>TM</sup></p> -->
<mat-toolbar color="primary" style='font-size:200%;'>SmallChange<sup>TM</sup></mat-toolbar>

<!-- <mat-tab-group>
  <mat-tab label="First" > Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
<nav class = "topNavresponsive" id="navbar">
  <button class="icon" (click)="ngOnInit()">Menu</button>
<ul [className]="isActive ? 'active' : 'inactive'" ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1"><app-nav-link NavbarText="Portfolio" NavbarLink="/portfolio"></app-nav-link></li>
    <li [ngbNavItem]="2"><app-nav-link NavbarText="Activity" NavbarLink="/activity"></app-nav-link></li>
    <li [ngbNavItem]="3"><app-nav-link NavbarText="Trade" NavbarLink="/trade"></app-nav-link></li>
    <li [ngbNavItem]="4"><app-nav-link NavbarText="Preferences" NavbarLink="/preferences"></app-nav-link></li>
    
</ul>
</nav> 




