.mat-elevation-z8{
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.search-bar{
    margin-left: 80%;
}

.sub-card{
    margin: 1%;
    display: inline-block;
    min-width: 22%;
}
.stockCard{
justify-content: space-evenly;
display: flex;
margin-top: 50px;
}
.loss{
    color: red;
}
.profit{
    color: green;
}