<div class="selecteddetails">
<mat-card class="card">
  <mat-card-subtitle>Total Investment</mat-card-subtitle>
  <mat-card-title >{{totalInvestment | currency: "USD"}}</mat-card-title>
</mat-card>

<mat-card class="card">
    <mat-card-subtitle>Current Value</mat-card-subtitle>
    <mat-card-title > {{currentValue | currency: "USD"}}</mat-card-title>
</mat-card>

<mat-card class="card">
    <mat-card-subtitle>Net profit/loss</mat-card-subtitle>
    <mat-card-title  [ngClass]="[((currentValue - totalInvestment)>=0) ? 'profit' : 'loss']">{{(currentValue - totalInvestment) |  currency: "USD"}}</mat-card-title>
</mat-card>

<mat-card class="card">
    <mat-card-subtitle>Small Change wallet</mat-card-subtitle>
    <mat-card-title >{{walletAmount |  currency: "USD"}}</mat-card-title>
</mat-card>
</div>