<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallchange.integration.TradeHistoryMapper">

	<resultMap type="TradeHistory" id="ClientTradeHistory">
		<result property="code"				column="CODE" />
		<result property="name"			column="NAME" />
		<result property="quantity"		column="QUANTITY" />
		<result property="type" column="DIRECTION" />
		<result property="price" column="BUY_PRICE" />
		<result property="assetClass" column="CATEGORY" />
	</resultMap>

	
</mapper>
