<app-nav-bar></app-nav-bar>


<app-portfolio-details [totalInvestment]="totalInvestment"[currentValue]="currentValue"></app-portfolio-details>

<mat-card class="card">
  <mat-card-title>
    <mat-tab-group>
      <mat-tab label="Stocks">
        <app-portfolio-stock-table (stockInvestment)="getStockInvestment($event)" (stockCurrentValue)="getStockCurrentValue($event)" ></app-portfolio-stock-table>
      </mat-tab>
      <mat-tab label="Mutual Funds">
        <app-portfolio-mf-table (mfInvestment)="getMfInvestment($event)" (mfCurrentValue)="getMfCurrentValue($event)"></app-portfolio-mf-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-title>
  <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
</mat-card>


